# Cross-compilation configuration for qsh
# Linkers are set via environment variables in flake.nix

# Linux musl targets (static linking)
# Note: zstd-sys and other C deps need _FORTIFY_SOURCE disabled for musl
# [target.x86_64-unknown-linux-musl]
# rustflags = [
#   "-C",
#   "target-feature=+crt-static",
#   # "-C",
#   # "link-arg=--ld-path=/home/rick/.cargo/bin/wild",
# ]
[build]
target = "x86_64-unknown-linux-musl"

[target.x86_64-unknown-linux-musl]
# linker = "clang"
rustflags = [
  "-C",
  "target-feature=+crt-static",
  "-C",
  "relocation-model=static",
]


[target.aarch64-unknown-linux-musl]
rustflags = ["-C", "target-feature=+crt-static"]

[target.armv7-unknown-linux-musleabihf]
rustflags = ["-C", "target-feature=+crt-static"]

[env]
# Disable glibc fortification for musl builds (zstd-sys uses __memcpy_chk otherwise)
CFLAGS_x86_64_unknown_linux_musl = "-U_FORTIFY_SOURCE"
CFLAGS_aarch64_unknown_linux_musl = "-U_FORTIFY_SOURCE"


[target.x86_64-unknown-linux-gnu]
linker = "clang"
# rustflags = ["-C", "link-arg=--ld-path=/home/rick/.cargo/bin/wild"]

# Windows targets (static linking)
[target.x86_64-pc-windows-gnu]
rustflags = ["-C", "link-arg=-static"]

[target.i686-pc-windows-gnu]
rustflags = ["-C", "link-arg=-static"]

# macOS targets
[target.x86_64-apple-darwin]
# Native or cross-compile from aarch64-apple-darwin

[target.aarch64-apple-darwin]
# Native or cross-compile from x86_64-apple-darwin

# Android targets (linkers set via env vars)
[target.aarch64-linux-android]

[target.armv7-linux-androideabi]

[target.x86_64-linux-android]

[target.i686-linux-android]


[profile.release]
# lto = true
# codegen-units = 1
# strip = true

[profile.dev]
debug = 0
strip = "debuginfo"
